---
layout: default
title: Alzamon — Children's Illustration, Comics and Sketchbook Portfolio by Alberto Gonzalez
description: Portfolio and blog site showcasing Costa Rican illustrator Alberto Gonzalez (Alzamon) work on children's illustration, book illustration, kids-oriented comics and articles on related matters.
author: alzamonart
---
<div class="container">
    <div class="row d-md-none">
        <div class="col text-center py-3">
            <h3>Children's Illustration, Comics for kids and Original Character Design</h3>
            <p class="my-2">If this is what you are looking for, I welcome you to know my work and about me further below.</p>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col">
            <pre style="color:white">{{ site.portfolio | sort: "sort_number" | inspect }}</pre> 
        </div>
    </div> -->


    <div class="row">
        <div class="col">

          
            <!-- Portfolio Masonry -->
            <div class="portfolio-masonry">
                <!-- Show *only* items matching the "homepage" category and sort by the "sort_number" variable-->
                <!-- use reverse switch to display latest (in number) posts -->
                {% assign hp = site.portfolio | where:"categories", "homepage" | sort: "sort_number" | reverse %}
                {% for item in hp %}
                <!-- masonry item -->
                <div class="portfolio-masonry-item">
                    <a href="{{item.url}}">
                        <div class="pm-overlay">
                            <i class="fas fa-search"></i>
                        </div>
                        <img src="{{item.masonryimage}}" alt="{{item.pretty_title}}">
                    </a>

                    <p><strong>{{item.pretty_title}}</strong> / {{item.pretty_category}}</p>
                </div>
                <!-- /masonry item -->
                {% endfor %}
            </div>
            <!-- /End Masonry -->

        </div>
    </div>
</div>

{% include block-about.html %}

{% include ig-lightwidget.html %}


