<div class="container-fluid block-about pt-3">
    <div class="row">
        <div class="col-xs-12 col-md-5 offset-md-1 py-5">
            <h2>Who is behind this?</h2>
            <p>
                I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why.
            </p>
            <p>
                They're not aliens, they're Earth…liens! Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?
            </p>

            <p>You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better? All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong?</p>
            

        </div>
        <div class="col-xs-12 col-md-5 block-about-image"></div>
    </div>
</div>