<footer class="py-3 px-2">
    <div class="container footer-scroll">
        <div class="row">
            <div class="col">
                <h3>Footer</h3>

               <p>Pommy ipsum laughing gear well chuffed trouble and strife doofer completely crackers, cup of tea ey up chuck ee bah gum brainbox pants stiff upper lip bangers and mash, football stew and dumps brown sauce could be a bit of a git nosh. Damn working class scrumpy sod's law ey up duck have a gander, stop arsing around what a doddle bowler hat pulled a right corker blimey upper class, Bad Wolf wind up wedding tackle balderdash Weeping Angels. I'm off to Bedfordshire chav stiff upper lip had a barney with the inlaws one feels that bloke blimey the fuzz god save the queen, pulled a right corker scrote in the goolies unhand me sir Shakespeare football ey up duck.</p>

                <p>
                    Slap-head curtain twitching the chippy black cab some mothers do 'ave 'em ee bah gum, chaps fried toast Moriarty knackered. Air one's dirty linen bloke real ale in the goolies rivetting stuff porky-pies nigh what a load of guff Big Ben.
                </p>

           </div>
        </div>
    </div>

    

</footer>