// Core.scss


// Custom styles start here


// start styles

* {
    color: white;
}

body {
    position: relative;
    background: rgb(48, 41, 44);

    h1 {
        color: $headerColor;
        font-size: 4rem;
        text-align: center;
    }

    main{
        position: relative;
        z-index: 3;
        .main-container{
            background: $body-bg;
        }
        .footer-scroll{
            width: 100vw;
            height: 250px;
            margin-bottom: -250px;
            display: block;
            background: transparent;
            background: url('/assets/images/daniel-footer-upsidedown.png') no-repeat center top;
            background-size: contain;
        }
    }

    footer{
        background-color: rgb(19, 12, 11);
        color:white;
        position: sticky;
        bottom: 0;
        width: 100vw;
        min-height: 300px;
        padding: 0 0 2rem 0;
        // border: hotpink 2px dotted;
        z-index:2;
    }


    .container {
        width: 85vw;
        // margin: 2rem auto;
        padding: 1rem 0;

        @include respond-below(md){
            width: 86vw;
        }
    }

    .gallery {
        &-thumbnail {
            border: $headerColor 1px dotted;
        }
    }
}

