// Alzamon.com  - core.scss
// ============================

// z-index variables

$zIndexMain: 4;
$zIndexRopeScroller:3;
$zIndexFooter: 2;


* {
    color: white;
}

body {
    position: relative;
    background: rgb(48, 41, 44);

    h1 {
        color: $headerColor;
        font-size: 4rem;
        text-align: center;
    }

    main {
        position: relative;
        z-index: $zIndexMain;

        .main-container {
            background: $body-bg;
        }

        .footer-scroll {
           
            width: 33vw;
            border: white 1px solid;
            position: relative;
            left: 35vw;
            min-height: 1200px;
            margin-bottom: -95vh;
            display: block;
            background: transparent;
            background: url('/assets/images/azm-footer-rope.png') no-repeat center top;
            background-size: contain;

            // breakpoints
            @include respond-between(sm, md) {
                // tablets
                width: 50vw;
                left: 40vw;
            }

            @include respond-below(sm) {
                // mobile
                display: none;
            }
        }
    }

 // Daniel and Elias Rope image container
    .ropeScroller{
        width:30vw;
        min-height: 1000px;
        position: relative;
        z-index: $zIndexRopeScroller;
        left:36vw;
        margin-bottom: -95vh;
        background: url('/assets/images/azm-footer-rope.png') no-repeat center top;
        background-size: contain;
            // breakpoints
            @include respond-between(sm, md) {
                // tablets
                left: 45vw;
                width:45vw;
            }
            @include respond-between(md,lg){
                margin-bottom: -90vh;
            }
            @include respond-below(sm){
                display: none;
                height: fit-content;
            }
    }


}

.container {
    width: 85vw;
    // margin: 2rem auto;
    padding: 1rem 0;

    @include respond-below(md) {
        width: 86vw;
    }
}



.gallery {
    &-thumbnail {
        border: $headerColor 1px dotted;
    }
}