// Navbar
// ===========
.jumbotron {
    margin-bottom: 0px;
    background-color: rgb(41, 24, 32);
    position: relative;
    z-index: 100;
    min-height: 260px;
    h1 {
        background-image: url('/assets/images/alzamon_logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: inline-block;
        width: 300px;
        // height: 130px;
        &.display-4{
            font-size: 5rem;
        }
        >span {
            @include hideText;
        }
    }
    @include respond-below(sm) {
        // display jumbotron only in medium and up screens
        display: none !important;
    }
    @include respond-above(md){
        padding-bottom: 0;
    }
}

// Navbar
// ====================

.navbar {
    background: $navbarBgColor;
    &-brand {
        background-image: url('/assets/images/alzamon_logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: inline-block;
        height: 60px;
        width: 180px;
        >span {
            @include hideText;
        }
    }
    &-nav {
        // menu items list
        .nav-item {
            // each item
            .nav-link {
                margin-right: 1rem;
                @include respond-above(lg){
                    font-size:1.6rem;
                }
                @include respond-between(sm,md){
                    font-size: 1.3rem;
                }
                @include respond-below(sm){
                    font-size:1.6rem;
                }
                &.social {
                    // social networks icons
                    i {
                        color: $linkColor;
                    }
                }

            }
            &.active {
                .nav-link {
                    color: $linkColor;
                    font-weight: bold;
                    border-bottom: 4px $linkUnderlineColor double;
                }
            }
            @include respond-below(sm){
                        // hide nav-item breakpoints on mobile
                        &:nth-of-type(7),
                        &:nth-of-type(8),
                        &:nth-of-type(9),
                        &:nth-of-type(10){
                            display:none;
                        }
            }
        }
    }
}
.nav-link-social-mobile{
    @include respond-above(sm){
        display: none;
    }
    @include respond-below(sm){
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        border-top: $linkColor 1px solid;
        li{
            text-align: center;
            i.fab{ // icons
               font-size: 1.8rem;
               color: $linkColor;
            }
        }
    }
}
