// Navbar
// ===========
.jumbotron {
    // Super big header for medium and above screens
    margin-bottom: 0px;
    
    // &-bg{
    //     width:100%;
    //     height:100%;
    //     display: flex;
    //     flex-direction: column;
    //     background: url('/assets/images/azm-header-bg-01.jpg') no-repeat center center fixed;
    //     -webkit-background-size: cover;
    //     -moz-background-size: cover;
    //     background-size: cover;
    //     -o-background-size: cover;
    //     border: yellow 1px dashed;
    // }

    // background-image: linear-gradient(to bottom, rgba(41, 24, 32, 0.85), rgba(14, 3, 10, 0.85)),
    // url('/assets/images/azm-header-bg-01.jpg');
    // background: rgb(41, 24, 32) !important;
    // background-repeat:no-repeat;
    // background-position: 0 0;
    position: relative;
    z-index: 100;
    min-height: 260px;
    &-bg{
        background-attachment: static;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
        background-image: url('/assets/images/alzamon_logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: inline-block;
        width: 300px;
        // height: 130px;
        &.display-4{
            font-size: 5rem;
        }
        >span {
            @include hideText;
        }
    }
    @include respond-below(sm) {
        // display jumbotron only in medium and up screens
        display: none !important;
    }
    @include respond-above(md){
        padding-bottom: 0;

    }
}

// Navbar
// ====================

.navbar {
    background: $navbarBgColor;
    &-brand {
        background-image: url('/assets/images/alzamon_logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: inline-block;
        height: 60px;
        width: 180px;
        >span {
            @include hideText;
        }
    }
    &-nav {
        // menu items list
        .nav-item {
            // each item
            .nav-link {
                margin-right: 1rem;
                @include respond-above(lg){
                    font-size:1.6rem;
                }
                @include respond-between(sm,md){
                    font-size: 1.3rem;
                }
                @include respond-below(sm){
                    font-size:1.6rem;
                }
                &.social {
                    // social networks icons
                    i {
                        color: $linkColor;
                    }
                }

            }
            &.active {
                .nav-link {
                    color: $linkColor;
                    font-weight: bold;
                    border-bottom: 4px $linkUnderlineColor double;
                }
            }
            @include respond-below(sm){
                        // hide nav-item breakpoints on mobile
                        &:nth-of-type(7),
                        &:nth-of-type(8),
                        &:nth-of-type(9),
                        &:nth-of-type(10){
                            display:none;
                        }
            }
        }
    }
}
.nav-link-social-mobile{
    @include respond-above(sm){
        display: none;
    }
    @include respond-below(sm){
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        border-top: $linkColor 1px solid;
        li{
            text-align: center;
            i.fab{ // icons
               font-size: 1.8rem;
               color: $linkColor;
            }
        }
    }
}
